<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Community_Engagement_Application.Community_Engagement_Application">
	<uses-sdk android:minSdkVersion="17" />
	<application android:label="Community_Engagement_Application"></application>
</manifest>